body {
    margin: 0px;
}

img {
    -moz-box-shadow: 2px 2px 5px #333333;
    -webkit-box-shadow: 2px 2px 5px #333333;
    box-shadow: 2px 2px 5px #333333;
    border: 1px black solid;
}

#id-canvas {
    border: 1px red solid;
    float: left;
    position: absolute;
    z-index: 5;
}

.float-input-text {
    float: left;
    position: absolute;
    word-break: break-all;
    background-color: transparent;
    resize: none;
    z-index: 6;
}

#id-main {
    border-top: 1px #bbb solid;
    overflow: hidden;
}

.gen-controls {
    position: relative;
    left: 10px;
    float: left;
}

.gen-controller {
    margin: 10px 0;
}

button {
    font-size: 16px;
    margin: 5px;
}

#id-config-area {
    height: 1200px;
    background-color: #fff;
    position: relative;
    float: left;
}

#id-canvas-area {
    padding: 16px;
    background-color: #fff;
    box-sizing: border-box;
    overflow: scroll;
}

.resize-save {
    position: absolute;
    top: 0; right: 15px; bottom: 0; left: 0;
    overflow-x: scroll;
    overflow-y: scroll;
}

.resize-bar {
    width: 650px; 
    height: inherit;
    min-width: 650px;
    max-width: 1000px;
    resize: horizontal;
    cursor: ew-resize;
    cursor: col-resize;
    opacity: 0;
    overflow: scroll;
}

/* 拖拽线 */
.resize-line {
    position: absolute;
    right: 0; top: 0; bottom: 0;
    border-right: 2px solid #eee;
    border-left: 1px solid #bbb;
    pointer-events: none;
}
.resize-bar:hover ~ .resize-line,
.resize-bar:active ~ .resize-line {
    border-left: 1px dashed skyblue;
}

.resize-bar::-webkit-scrollbar {
    width: 200px; height: inherit;
}

/* Firefox只有下面一小块区域可以拉伸 */
@supports (-moz-user-select: none) {
    .resize-bar:hover ~ .resize-line,
    .resize-bar:active ~ .resize-line {
        border-left: 1px solid #bbb;
    }
    .resize-bar:hover ~ .resize-line::after,
    .resize-bar:active ~ .resize-line::after {
        content: '';
        position: absolute;
        width: 16px; height: 16px;
        bottom: 0; right: -8px;
        background: url(./resize.svg);
        background-size: 100% 100%;
    }
}

.uploader {
    height: 320px;
    text-align: center;
    line-height: 300px;
    font-size: 24px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, .3);
    margin: 10px 0px;
}